*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: "Roboto Condensed", sans-serif;
}
body,div,p,li,a {
    font-size: 1.2rem;
    font-weight: 400;
}
header{
    position: fixed;
    width: 100%;
    background: #00000069;
    z-index: 1000;
   transition: padding .3s;
            
    
}

.container{
   width: 90%;
    position: relative;
    margin: 0 auto;
}
nav{
  
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo{
    width: 100px;
}
.list-item{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.links:hover{
    text-decoration: none;
    color: #6224DF;
}
.section{
    padding: 110px 0;
}
#banner {
    color: white;
   height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url('https://cdn.wallpapersafari.com/90/3/zBURbN.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-img{
    border-radius: 50%;
    max-width: 300px;
   float: right;

    
}
.parent-row {
  display: flex;
  gap: 50px;
}

.column {
  flex: 1; 
}


h1{
    font-size: 60px;
}
#user-name{
    font-size: 50px;
    margin-bottom: 20px;
  
}

#user-details{
    line-height: 1.6;
    font-size: 20px;
  
}
.pro-btn{
}
.pro-btn img{
    max-height: 80px;
    margin-top: 10px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
}
.download{
  text-decoration: none;
  border: 2px solid white;
  color: white;
  padding: 15px 20px ;
  margin-top: 30px;
  display: inline-block;
    
}
.portfolio{
     text-decoration: none;
  border: 2px solid white;
  color: black;
  background-color: white;
  padding: 15px 20px ;
  margin-top: 30px;
  display: inline-block;
}
.portfolio:hover{
    background-color: transparent;
    color: white;
   
}
.btn-left{
    margin-right: 20px ;
}
.download:hover{
    background-color: white;
    color: black;
   
}
.icons{

}
.home-img{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.group1{
    position: absolute;
    width: 300px;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transition: bottom 3s, left 2s;
}
.home-img:hover #shape{
        bottom: 70px;
}
.home-img:hover #girl{
        left: 40%;
}
#about{
    background-color: #ebebeb;
}
.sectionHead{
    text-align: center;
    margin-bottom: 40px;
}
.mainHead{
    font-size: 50px;
    margin-bottom: 15px;
}
.subHead{
    font-size: 25px;
    color: black;
    
}
.aboutBody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 50px;
    align-items: center;
    
}
.img{
    width: 80%;
}
.aboutContent{
    font-size: 20px;
    text-align: justify;
    line-height: 1.8rem;
}
.profile-row{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
 
}
.icons{
    color: #3e3e3e;
    font-size:xx-large;
}
.profile-coloumn{
    border: 2px solid rgb(218 218 218 / 50%);
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    flex: 1;

}
.profile-coloumn:hover{
   box-shadow: 0px 0px 8px 0px #ccc;
}
.profile-coloumn h4{
    margin-top: 15px;
   margin-bottom: 15px;
}
.profile-coloumn h2{
    color: rgb(186, 183, 183);
}
.information{
    margin-top: 1.3rem;  /*- 1rem = 16px -*/
}
.infox{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.infox>span{
    margin-left: 1rem;
}
#skill{
    border-top: 1px solid #ccc;
}
.skillContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
}
.parent-port{
    display: flex;
}
.inner-port{
    flex: 1;
    position: relative;
}
.inner-port img{
    
    width: 100%;
    height: 100%;
 position: relative;

}
.inner-port:hover .overlay{
    z-index: 2;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.394);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}
.portfolio-section{
    background-color: #ebebeb;
    padding: 50px 0;
}
.portfolio-section h2{
    font-size: 50px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.barHead,.barPercent{
    font-size: 1.3rem;
    font-weight: 500;
}
.baseBar{
    width: 100%;
    height: 0.9rem;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.portBar{
    background-color: rgb(0, 0, 0);
    width: 92%;
}
.landBar{
    background-color: rgb(0, 0, 0);
    width: 80%;
}.editBar{
    background-color: rgb(0, 0, 0);
    width: 88%;
}
.wildBar{
    background-color: rgb(0, 0, 0);
    width: 78%;
}
#contact{
    margin: 8% 8%;
}
.iconCollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}
.brands{
    color: black;
    font-size: 2rem;
}
.icon:hover{
    background-image: linear-gradient(to bottom right, rgb(28, 28, 28),rgb(36, 36, 36),rgb(135, 135, 135));
}
.icon:hover .brands{
    color: white;
    /* Animation */
    animation: rotate 3s;
}

/***********************************************************************/
.contact-section .subHead{
    color:#ffffff;
}
.contact-section {
    padding: 50px;
    background: rgb(0, 0, 0);
    color: white;
    position: relative;
    margin-top:0px;
}
.contact-row{
    display: flex;
}
 .contact-form {
    z-index: 1;
    flex:1;
}
.contact-content {
    z-index: 1;
    flex:1;
}
.contact-content {
    padding-right: 20px;
}
.contact-content h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.contact-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}
.contact-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}
.contact-form h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.contact-form button {
    width: 100%;
    padding: 12px;
    background: #000000;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid #000;;
    transition: background 0.3s;
}
.contact-form button:hover {
    background: #ffffff;
    color:#000000;
}
.contact-links>div{
    margin-bottom: 15px;
}
/************************************************************************/

@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
footer{
    margin-top: 0px;
}
#copyright{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}
.upArrow{
    float: right;
    margin: -40px 20px 20px 0px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: bisque;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}